<h1>Listing urls</h1>

<table>
  <tr>
    <th>Full url</th>
    <th>Short url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @urls.each do |url| %>
  <tr>
    <td><%= url.full_url %></td>
    <td><%= short_url_with_host(url) %></td>
    <td><%= link_to 'Show', url %></td>
    <td><%= link_to 'Edit', edit_url_path(url) %></td>
    <td><%= link_to 'Destroy', url, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Url', new_url_path %>
